body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-image: url("./images/header-bg.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 175px 0;
}
h1{
    font-size: 65px;
    color: #FFFFFF;
    text-align: center;
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    margin-top: -33px;
}
button{
    margin-left: 716px;
    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    line-height: 24px;
}
.donate-today{
   padding: 115px 0;
}
.donate-today h1{
    color: #121212;
    font-size: 45px;
}
.donate-today p{
    color: #707070;
}
.amount{
    padding-left: 311px;
    margin-top: 45px;
}
ul{
    list-style-type: none;
    display: flex;
}
.quantity{
    width: 135px;
    background: #f4efef;
    border-radius: 5px;
    padding: 52px 0;
    margin-left: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}
#dfrt-quantity{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.input{
    padding-left: 372px;
    padding-top: 50px;
}
.input input{
    width: 765px;
    border: 1px solid #DADADA;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}
.donate-button{
    margin-left: 316px;
    margin-top: 30px;
}