body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-image: url("./images/header-bg.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 175px 0;
}
h1{
    font-size: 65px;
    color: #FFFFFF;
    text-align: center;
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    margin-top: -33px;
}
button{
    margin-left: 716px;
    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    line-height: 24px;
}
.donate-today{
   padding-top: 50px;
}
.donate-today h1{
    color: #121212;
    font-size: 45px;
}
.donate-today p{
    color: #707070;
    margin-top: 20px;
}
.amount{
    padding-left: 311px;
    margin-top: 45px;
}
ul{
    list-style-type: none;
    display: flex;
}
.quantity{
    width: 135px;
    background: #f4efef;
    border-radius: 5px;
    padding: 52px 0;
    margin-left: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}
#dfrt-quantity{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.input{
    padding-left: 372px;
    padding-top: 50px;
}
.input input{
    width: 765px;
    border: 1px solid #DADADA;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    padding-bottom: 8px
}
.donate-button{
    margin-left: 316px;
    margin-top: 30px;
}
.donation{
    display: flex;
    padding-left: 89px;
    margin-top: 60px;
}
.our-plans{
    display: inline-block;
    width: 360px;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 60px 23px;
    margin-left: 24px;
}
.our-plans p{
    font-size: 16px;
    text-align: justify;
}
.plan-shelter{
    background-color: rgba(255, 89, 89, 0.1);;
}
.plan-education{
    background-color: #FFF4D6;
}
.half-width1{
   background-image: url("./images/join.jpg");
   width: 40%;
    height: 500px;
}
.join-us{
    margin-top: 100px;
}
.overlay{
    background-color: #c69596b8;
    height: 500px;
}
.h-join{
    font-size: 55px;
    color: #f4efef;
    padding-top: 3.5em;
    text-align: center;
    ;
}
.half-width2{
    width: 60%;
    background-color: #121212;
    float: right;
    margin-top: -500px;
    padding-bottom: 100px;
}
.half-width2 h2{
    color: #fff;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 65px;
}
.half-width2 h3{
    color: #484e59;
    margin-left: 100px;
    margin-top: -15px;
}
.half-width2 p{
    text-align: justify;
    font-size: 16px;
    color: #6b7483;
    line-height: 1.8em;
    margin-left: 100px;
    margin-top: 35px;
    padding-bottom: 63px;
}
.btn-regi{
    text-decoration: none;
    color: #ed3237;
    border: 2px solid #ed3237;
    background-color: transparent;
    padding: 18px 38px;
    text-transform: uppercase;
    margin-left: 100px;
    border-radius: 5px;
}
.updates{
    clear: both;
}
.updates h1{
    color: #121212;
    font-size: 45px;
    margin-top: 97px;
}
.updates p{
    color: #707070;
}
.updates .form{
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin-left: 352px;
    margin-top: 45px;
    margin-bottom: 109px;
}
form{
    margin-left: 36px;
}
.email{
    width: 275px;
    border: none;
    padding: 16px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    margin-top: 74px;
    margin-left: 147px;
}
.button{
    padding: 12px 24px;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
    margin-left: 454px;
    margin-top: 74px;
}
footer{
    background-color: #121212;
    padding: 50px 0;
}
footer h2{
    font-family: 'Lobster';
    font-style: italic;
    font-size: 36px;
    line-height: 44px;
    color: #FF5959;
    text-align: center;
}
footer p{
    font-family: 'Manrope';
    font-size: 14px;
}